<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.slam6.ajounicelibrary">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/initlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".BorrowActivity" />
        <activity android:name=".ReturnbookActivity" />
        <activity android:name=".FontBaseActivity" />
        <activity
            android:name=".BookScanActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".CaptureOrientationActivity">
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
        </activity>
        <activity android:name=".LibraryAuthActivity" />
        <activity android:name=".CaptureOrientation2Activity"></activity>
    </application>

</manifest>